.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header h2 {
  text-transform: uppercase;
}

.actions {
  display: flex;
  align-self: center;
  margin-left: 1rem;
}

.actions a,
.actions button {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 3px var(--blank-100);
  font-weight: bolder;
  border-radius: 5px;
  font-size: 0.9rem;
  text-decoration: none;
  margin-left: 1rem;
}

.header a:hover {
  box-shadow: 1px 1px 10px var(--blank-100);
}

.header .approve:hover {
  box-shadow: 2px 2px 5px var(--success-200);
}

.header .decline:hover {
  box-shadow: 2px 2px 5px var(--danger-200);
}
