.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  text-transform: uppercase;
}

.header a {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: var(--primary-300);
  box-shadow: 1px 2px 3px var(--blank-100);
  color: var(--secondary-100);
  border-radius: 5px;
  text-decoration: none;
}

.header a:hover {
  box-shadow: 1px 1px 10px var(--primary-300);
}

.mainCuti {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
}

.mainCuti .form {
  margin-right: 2rem;
  padding: 2rem 2.5rem;
  border-radius: 10px;
  flex: 45%;
  background-color: var(--secondary-100);
  box-shadow: 1px 1px 3px var(--blank-100);
}

.mainCuti .listCuti {
  flex: 55%;
}

.form h3 {
  text-transform: uppercase;
}

.form .sisaCuti {
  margin-top: 1rem;
}

.sisaCuti .label {
  color: var(--secondary-300);
}

.sisaCuti .value {
  padding: 0.4rem 0.7rem;
  background-color: var(--primary-300);
  color: var(--secondary-100);
  margin-left: 2rem;
  border-radius: 5px;
  display: inline-block;
}

.formGroup {
  margin-top: 1rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: var(--secondary-300);
}

.formGroup .radioCatGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radioCatGroup .radioContainer {
  padding: 1rem;
  flex: 48%;
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-300);
  border-radius: 5px;
  cursor: pointer;
}

.radioCatGroup .radioContainer span {
  display: inline-block;
  margin-left: 1rem;
  color: black;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time input {
  border: none;
  outline: none;
  padding: 0.6rem 1.2rem;
  width: 45%;
  border: 1px solid var(--secondary-300);
  border-radius: 5px;
  font-size: 0.7rem;
}

.time input:focus {
  border: 1px solid var(--primary-300);
}

.time svg {
  fill: var(--secondary-300);
  margin: 0 0.5rem;
}

.formGroup .description {
  border: none;
  outline: none;
  border: 1px solid var(--secondary-300);
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  height: 150px;
  resize: vertical;
}

.formGroup .description:focus {
  border: 1px solid var(--primary-300);
}

.formGroup .uploadDocument {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  border: 1px solid var(--secondary-300);
  border-radius: 5px;
}

.form button {
  margin-top: 2rem;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: var(--primary-300);
  color: var(--secondary-100);
  border-radius: 5px;
}

.form button:hover {
  box-shadow: 1px 1px 10px var(--primary-300);
}

.flash {
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}
