.overview {
  display: flex;
  gap: 2rem;
}

.overview .left,
.overview .right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.overview .left {
  flex: 35%;
}

.overview .right {
  flex: 65%;
}

.biodata {
  background-color: var(--secondary-100);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 3px var(--blank-100);
  display: flex;
  flex-direction: column;
}

.biodata .mainDetails .avatar {
  width: 150px;
  height: 150px;
  background-color: var(--secondary-200);
  margin: 0 auto 2rem auto;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.biodata .mainDetails .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.biodata .mainDetails .blank {
  width: 100%;
  height: 100%;
  background-color: var(--blank-200);
  position: absolute;
  top: 0;
  display: none;
}

.biodata .mainDetails .avatar:hover > .blank {
  display: block;
}

.biodata .mainDetails span {
  display: block;
  text-align: center;
  font-weight: bolder;
}

.biodata .mainDetails .name {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.biodata .mainDetails .position {
  color: var(--secondary-300);
}

.biodata .secondaryDetails {
  margin: 2.5rem auto;
}

.biodata .secondaryDetails > div {
  display: flex;
  align-items: center;
}

.biodata .secondaryDetails > div > svg {
  fill: var(--secondary-300);
}

.biodata .secondaryDetails > div > span {
  margin: 0.3rem 0 0.3rem 1.5rem;
  font-size: 0.9rem;
}

.biodata .changePassword {
  width: auto;
  padding: 0.7rem 1.2rem;
  margin: 0 auto;
  outline: none;
  border: none;
  background-color: var(--primary-300);
  display: flex;
  align-items: center;
  color: var(--secondary-100);
  fill: var(--secondary-100);
  font-weight: bolder;
  font-size: 1rem;
  border-radius: 5px;
}

.biodata .changePassword:hover {
  box-shadow: 1px 1px 10px var(--primary-300);
}

.biodata .changePassword span {
  margin-left: 0.7rem;
}

.biodata .changePhotoProfile {
  display: none;
}

.companyProfile {
  padding: 2rem;
  background-color: var(--primary-300);
  color: var(--secondary-100);
  border-radius: 10px;
}

.companyProfile .details {
  margin-top: 1rem;
}

.companyProfile .details > div {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  fill: var(--secondary-200);
  color: var(--secondary-200);
}

.companyProfile .details > div > span {
  margin-left: 1.5rem;
}

.right .statusToday {
  margin-top: 1rem;
}

.right .statusToday > div {
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
}

.right .statusToday > div > .time {
  margin-left: 2rem;
}

.sisaCuti {
  margin-top: 1rem;
}

.sisaCuti .label {
  color: var(--secondary-300);
  font-size: 1.1rem;
}

.sisaCuti .value {
  padding: 0.5rem 1rem;
  background-color: var(--primary-300);
  color: var(--secondary-100);
  margin-left: 2rem;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.1rem;
}

.icon {
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
}
