.SideLogo {
  text-align: center;
  padding: 45% 20%;
  width: 100%;
  height: 61.25em;
  background-size: 43em 110%;
  background-repeat: no-repeat;
  background-position-x: -1em;
}

.SideLogo h1,
.SideLogo h2 {
  text-align: center;
  color: var(--primary-100);
}

.SideLogo img {
  width: 16em;
  height: 17em;
}
