.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background);
}

.mainbar {
  flex: 1;
  padding: 0 2rem;
  overflow-y: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}

.sidebar {
  padding: 2rem 1.7rem;
  background-color: var(--primary-color);
  width: auto;
}

.sidebar .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.sidebar .title {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  color: var(--secondary-100);
  font-weight: bolder;
  margin-bottom: 2.9rem;
}

.sidebar .menu {
  list-style-type: none;
}

.sidebar .menu > li {
  margin: 1rem 0;
}

.sidebar .menu > li > a {
  border: none;
  outline: none;
  padding: 0.6rem 1.2rem;
  display: flex;
  border-radius: 5px;
  color: var(--secondary-100);
  fill: var(--secondary-100);
  text-decoration: none;
}

.hide .title {
  display: none;
}

.hide .topMenu {
  margin-top: 5rem;
}

.hide .menu > li > a {
  padding: 0.6rem;
}

.hide .menu > li > a > span {
  display: none;
}

.sidebar .menu > li.active > a,
.sidebar .menu > li:hover > a {
  background-color: var(--secondary-100);
  color: var(--primary-color);
  fill: var(--primary-color);
  font-weight: bolder;
  box-shadow: 1px 2px 3px var(--blank-100);
}

.sidebar .menu > li > a > span {
  margin-left: 1.9rem;
}

.topbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar h1 {
  color: var(--title-color);
}

.topbar .changeButton {
  background-color: var(--primary-color);
  color: var(--secondary-100);
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 1px 2px 3px var(--blank-100);
  text-decoration: none;
  margin-left: 2rem;
  text-align: center;
}

.topbar .changeButton:hover {
  box-shadow: 1px 1px 10px var(--primary-color);
}

.content {
  margin: 0.5rem 0;
  flex: 1;
  display: flex;
}

.content > div {
  flex: 1;
  padding: 1rem;
}
