.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--secondary-200);
}

.mainbar {
  flex: 1;
  padding: 0 2rem;
  overflow-y: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}

.content {
  margin: 0.5rem 0;
  flex: 1;
  display: flex;
}

.content > div {
  flex: 1;
  padding: 1rem;
}
