.auth {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background-color: var(--primary-400);
}

.content {
  flex: 65%;
}

.flexCenter {
  justify-content: center;
  align-items: center;
  display: flex;
}

.sideLogo {
  flex: 35%;
  background: var(--primary-100);
  flex-direction: column;
  color: var(--secondary-100);
}

.sideLogo img {
  width: 35%;
}

.sideLogo h1 {
  margin-top: 2rem;
}
