.sidebar {
  padding: 2rem 1.7rem;
  background-color: var(--primary-400);
  width: auto;
}

.sidebar .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.sidebar .topMenu {
  margin-top: 4rem;
}

.sidebar .menu {
  list-style-type: none;
}

.sidebar .menu > li {
  margin: 1rem 0;
}

.sidebar .menu > li > a {
  border: none;
  outline: none;
  padding: 0.6rem 1.2rem;
  display: flex;
  border-radius: 5px;
  color: var(--secondary-100);
  fill: var(--secondary-100);
  text-decoration: none;
}

.hide .menu > li > a {
  padding: 0.6rem;
  transition: padding 0.5s;
}

.hide .menu > li > a > span {
  display: none;
}

.sidebar .menu > li.active > a,
.sidebar .menu > li:hover > a {
  background-color: var(--secondary-100);
  color: var(--primary-400);
  fill: var(--primary-400);
  font-weight: bolder;
  box-shadow: 1px 2px 3px var(--box-shadow);
}

.sidebar .menu > li > a > span {
  margin-left: 1.9rem;
}
