.sidebar {
  padding: 2rem 1.7rem;
  width: 280px;
  background-color: var(--primary-400);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.topMenu {
  margin-top: 4rem;
}

.menu {
  list-style-type: none;
}

.menu > li {
  margin: 1rem 0;
}

.menu > li > a,
.menu > li > button {
  border: none;
  outline: none;
  padding: 0.8rem 1.3rem;
  display: flex;
  border-radius: 5px;
  color: var(--secondary-100);
  fill: var(--secondary-100);
  text-decoration: none;
}

.menu > li.active > a {
  background-color: var(--secondary-100);
  color: var(--primary-400);
  fill: var(--primary-400);
  font-weight: bolder;
}

.menu > li > a > span {
  margin-left: 1.9rem;
}

.menu > li:hover > a {
  background-color: var(--primary-300);
}
