:root {
  --primary-100: #e8f9fd;
  --primary-200: #79dae8;
  --primary-300: #0aa1dd;
  --primary-400: #2155cd;
  --secondary-100: #fcfeff;
  --secondary-200: #ececec;
  --secondary-300: #9e9e9e;
  --danger-100: #ffe5e5;
  --danger-200: #d40000;
  --success-100: #d8ffda;
  --success-200: #11d400;
  --request-50: #fafafa;
  --request-100: #ececec;
  --request-200: #6a6a6a;
  --blank-100: rgba(0, 0, 0, 0.25);
  --blank-200: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

button,
a {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.backgroundPopup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  background-color: var(--blank-200);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  fill: var(--success-200);
  color: var(--success-200);
  background-color: var(--success-100);
}

.danger {
  fill: var(--danger-200);
  color: var(--danger-200);
  background-color: var(--danger-100);
}

.requested {
  fill: var(--request-200);
  color: var(--request-200);
  background-color: var(--request-100);
}

.gray {
  color: var(--secondary-300);
}

.green {
  fill: var(--success-200);
}

.red {
  fill: var(--danger-200);
}

.fillFlex {
  flex: 1;
}
