.absensiOverview {
  background-color: var(--secondary-100);
  padding: 2rem 2.5rem;
  border-radius: 10px;
  box-shadow: 1px 1px 3px var(--blank-100);
}

.absensiOverview .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.absensiOverview .anchorIcon {
  background-color: var(--primary-300);
  border-radius: 5px;
  display: flex;
  padding: 0.5rem;
  fill: var(--secondary-200);
}

.absensiOverview .anchorIcon:hover {
  box-shadow: 1px 1px 10px var(--primary-300);
}

.absensiOverview .statusToday {
  margin-top: 1rem;
}

.absensiOverview .statusToday > div {
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
}

.statusToday > div > .time {
  margin-left: 2rem;
}

.icon {
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
}

.success {
  fill: var(--success-200);
  background-color: var(--success-100);
}

.danger {
  fill: var(--danger-200);
  background-color: var(--danger-100);
}

.gray {
  color: var(--secondary-300);
}

.listBar {
  margin-top: 2rem;
}
